In [1]:
#Dependencies 

import os
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import nasdaqdatalink
# from os import path
from Jacks_config import api_key
from Jacks_config import nasdaq_key
# config_file -

In [ ]:
mydata = nasdaqdatalink.get("EIA/PET_RWTC_D")
mydata.head()

In [ ]:
target_ticker = "TSLA"
# headers = ["ticker", "date","open","high","low","close","volume","closeadj","closeunadj","lastupdated"]
params = {"ticker": target_ticker, "api_key":api_key}
base_url = "https://data.nasdaq.com/api/v3/datatables/SHARADAR/SEP.json"
r = requests.get(base_url, params=params)

# ticker = []
# date = []
# open = []
# high = []
# low = []
# close = []
# volume = []
# closeadj = []
# closeunadj = []
# lastupdated = []

# for tickers in target_ticker:
#     base_url = "https://data.nasdaq.com/api/v3/datatables/SHARADAR/SEP.json"
#     r = requests.get(base_url, params=params)
#     ticker.append(r['datatable']['data'][0][0])
    

mydata = r.json()

mydata

In [ ]:
params = {"ticker": target_ticker, "api_key":api_key}
base_url = "https://data.nasdaq.com/api/v3/datatables/SHARADAR/SEP.json"
r = requests.get(base_url, params=params)
mydata = r.json()

mydata

In [ ]:
ticker = []
for tickers in mydata:
    print(mydata['datatable']['data'][0])

ticker
data = pd.DataFrame(ticker)    
data

In [2]:
nasdaqdatalink.ApiConfig.api_key= nasdaq_key
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='TSLA')

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,TSLA,2022-12-19,154.000,155.250,145.820,149.870,137988407.0,149.870,149.87,2022-12-19
1,TSLA,2022-12-16,159.635,160.990,150.040,150.230,138838601.0,150.230,150.23,2022-12-19
2,TSLA,2022-12-15,153.440,160.930,153.280,157.670,121525813.0,157.670,157.67,2022-12-15
3,TSLA,2022-12-14,159.250,161.620,155.310,156.800,139850919.0,156.800,156.80,2022-12-14
4,TSLA,2022-12-13,174.870,175.050,156.910,160.950,175100200.0,160.950,160.95,2022-12-13
...,...,...,...,...,...,...,...,...,...,...
2755,TSLA,2012-01-09,1.800,1.833,1.741,1.817,13455000.0,1.817,27.25,2022-08-25
2756,TSLA,2012-01-06,1.813,1.853,1.761,1.794,14794500.0,1.794,26.91,2022-08-25
2757,TSLA,2012-01-05,1.851,1.862,1.790,1.808,15082500.0,1.808,27.12,2022-08-25
2758,TSLA,2012-01-04,1.881,1.911,1.833,1.847,9451500.0,1.847,27.71,2022-08-25
2759,TSLA,2012-01-03,1.929,1.967,1.843,1.872,13921500.0,1.872,28.08,2022-08-25